# ─── Global (Test) Configuration ───────────────────────────────────────────────
MONGODB_URI=mongodb://localhost:27017
TEST_DB_NAME=coding_platform
TEST_JWT_SECRET=your_jwt_secret_key_here
TEST_JWT_ALGORITHM=HS256
TEST_ACCESS_TOKEN_EXPIRE_MINUTES=1

# ENV_STATE: switch between "dev" and "production"
ENV_STATE=dev

# ─── Development Configuration ────────────────────────────────────────────────
DEV_MONGODB_URI=mongodb://localhost:27017
DEV_DB_NAME=coding_platform
DEV_JWT_SECRET=DEV_JWT_SECRET
DEV_JWT_ALGORITHM=HS256
DEV_ACCESS_TOKEN_EXPIRE_MINUTES=30
DEV_SESSION_ID=ccbb79bee267a0c6ee8cf52b64e095a1e2c84716

DEV_TESTCASE_COLLECTION=test_cases
DEV_ASSETS_COLLECTION=assets
DEV_PROBLEM_COLLECTION=problems

DEV_PROBLEM_LIST=https://cses.fi/problemset/
DEV_TEST_CASES=https://cses.fi/problemset/tests/
DEV_LISTING_FILE=https://cses.fi/problemset
DEV_LISTING_URL=https://cses.fi/problemset
DEV_BASE_SITE=https://cses.fi

# how many tasks to scrape
DEV_SCRAPE_LIMIT=7

# where to store large test-case files locally
DEV_LOCAL_TEST_ASSETS=/Users/siriduggineni/Documents/CSES_Testcases