ENV_STATE="dev"

DEV_MONGO_URI="mongodb://localhost:27017"
DEV_QUEUE_KEY="submission_queue"
DEV_DOCKER_EXEC_URL="http://localhost:9000/run"

DEV_TESTCASE_API_FORMAT="http://localhost:8000/api/v1/problems/{problemId}/test-cases?includeHidden=true"
DEV_TERMINAL_STATUSES=["success","failed","compile_error","timeout"]

DEV_DB_NAME=coding_platform
DEV_REDIS_URL=redis://localhost:6379
DEV_LOG_DIR=./logs
DEV_LOG_FILE_PATH=./logs/judge_service.log