fastapi
uvicorn
pydantic[email]
motor
python-jose
bcrypt
pytest
httpx
odmantic
PyJWT
pydantic_settings
asgi-correlation-id
python-json-logger
boto3
requests
bs4
markdownify
python-slugify
httpx
pytest-asyncio